.serch-frients {
    margin-top: 50px;
}
.serch-frn-container {
    margin-top: 50px;
    display: block;
}
.serch-frn-name {
    display: block;
    margin-right: 80%;
    width: 10%;
    margin-top: 60px;
}
.serch-container {
    margin-top: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1100px;
    grid-column-gap: 10px;
    margin-left: 50px;
}


